SURREAL_PATH=file:///data # Change if not running on docker. Value means the directory to store information on your PC.
SURREAL_USER=SURREAL-DB-USER
SURREAL_PASS=SURREAL-DB-PASSWORD
SURREAL_NAMESPACE=SURREAL-DB-NAMESPACE
SURREAL_DATABASE=SURREAL-DB-DATABASE-NAME
BOT_TOKEN=TELEGRAM-BOT-TOKEN
SECRET_KEY=SECRET-KEY-FOR-ENDPOINT # Any string to protect endpoint from third-party access. (Simple string with [a-z][A-Z][0-9])